* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

body {
    width: 100%;
    background-color: rgb(203, 188, 188);
}

header {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(65, 61, 61);
}

header .logo-place {
    width: 10%;
}

header .logo-place img {
    width: 100%;
}

header .header-menu .header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header .header-menu .header-nav ul li {
    padding-left: 15px;
}

header .header-menu .header-nav ul li a {
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
}

header .header-menu .header-nav ul li a:hover {
    color: rgb(203, 188, 188);
}

section {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

section .parallax {
    /* The image used */
    background-image: url("../img/banner1.jpg");

    /* Set a specific height */
    padding: 100px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section .parallax1 {
    /* The image used */
    background-image: url("../img/banner2.jpg");

    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-text {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

section .parallax div h1,
section .parallax div p,
section .parallax1 div h2,
section .parallax1 div p {
    font-size: 1.5em;
    color: white;
    padding-bottom: 20px;
}

section .parallax div .mybtn a {
    padding: 10px;
    background-color: black;
    margin-left: 5px;
    border: solid 1px black;
    border-radius: 10px;
    color: white;
}

section .parallax div .mybtn a:hover {
    color: black;
    background-color: rgb(203, 188, 188);
}

section .section-projet1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section .section-projet1 .article-place {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section .section-projet1 .article-place figure {
    width: 40%;
}

section .section-projet1 .article-place figure img {
    width: 450px;
    height: 200px;
}

section .section-projet1 .article-place article {
    padding: 20px;
}

section .section-projet1 .article-place article p,
section .section-projet1 .article-place article h2 {
    text-align: justify;
    font-size: 1.5em;
}

section .section-projet1 .reverse-flex {
    flex-direction: row-reverse;
}

section .section-devis {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

section .section-devis form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(65, 61, 61);
    padding: 30px;
}

section .section-devis form div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section .section-devis form div label {
    font-size: 1.5em;
    text-transform: uppercase;
    color:rgb(203, 188, 188);
}

footer {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(65, 61, 61);
}

footer div {
    width: 10%;
}

footer div img {
    width: 100%;
}

footer div nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div nav ul li {
    padding-left: 15px;
}

footer div nav ul li a {
    color: white;
    font-size: 1.0em;
    text-transform: uppercase;
}

footer div nav ul li a:hover {
    color: rgb(203, 188, 188);
}